<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--
<ion-view view-title="{{menus.name}}">
  <ion-content>
      <ion-header-bar class="bar-default">
      <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="menu in menus" type="item-text-wrap" href="#/tab/dash/{{menu.id}}">
        <img ng-src="{{menus.image}}">
        <h2 style = "line-height: 500%">{{menus.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
      
    <ion-content class = "item item-text-wrap">
    <img ng-src="{{menus.image}}" style="width: 64px; height: 64px">
    <p>
      {{menus.order}}
    </p>
    </ion-content>
  </ion-content>
</ion-view>
-->

<ion-view view-title = "{{menu.name}}">
  <ion-content class = "item item-text-wrap">
      
      <div class = "list card" ng-href = "#/tab/dash/{{menu.id}}">
        <div class = "item item-avatar">
          <img ng-src = "{{menu.logo}}"/>
          <h2 style = "font-family: 'Abril Fatface'; line-height: 40px">{{menu.restaurant}}</h2>
        </div>
        <div class = "item item-body">
          <img class = "full-image" ng-src = "{{menu.image}}"/>
            
          <h2 style = "font-family: 'Abril Fatface'; text-align: center">{{menu.name}}</h2>
          <p><span style = "font-weight: bold">How to Order: </span>{{menu.order}}</p>
        </div>
      </div>
    
  </ion-content>
</ion-view>