<ion-view view-title = "{{menu.restaurant}}">
  <ion-content class = "item item-text-wrap">
    <div class = "row" ng-href = "#/tab/menus/{{menu.id}}">
        <div class = "col"><img ng-src = "{{menu.image}}" style = "width: 300px; height: 200px"/></div>
    </div>  
       <div class = "col">
           <p style = "font-family: 'Abril Fatface'; font-size: 28px; margin: 0px 20px 0px 20px">{{menu.name}}</p>
      </div>
      <div class = "row">
        <div class = "col">
          <h2 style = "font-family: 'Abril Fatface'; margin: 20px">How to Order:</h2>
          <p style = "margin: 0px 20px 0px 20px; text-align: justify">{{menu.order}}</p>
        </div>  
      </div>
  </ion-content>
</ion-view>
