<ion-view view-title = "Tablefeed" hide-nav-bar = "true">
  <ion-content>
  
    <ion-list>
      <ion-item ng-repeat = "menu in menus | limitTo: limitOne : 4 | orderBy: random" type = "item-text-wrap" ng-href = "#/tab/dash/{{menu.id}}">
        <div class = "container">
          <!-- Background Image for Menu Item -->
          <img ng-src = "{{menu.image}}" class = "menuImg"/>
          <!-- Description for Menu Item -->
          <div class = "menuTxt">
            <h2 style = "color: black; font-size: 20px">{{menu.name}}</h2>
              <p style = "font-family: 'Arial'; color: #323232; font-size: 15px; font-weight: bold">{{menu.restaurant}}</p>
          </div>
        </div>
      </ion-item>  
    </ion-list>

  </ion-content>
</ion-view>
