<!--
<ion-view view-title="Tablefeed" hide-nav-bar = "true">
  <ion-content>
    
    <ion-list>
      <ion-item ng-repeat="menu in menus | orderBy: random" type="item-text-wrap" href="#/tab/dash/{{menus.id}}">
          <div class = "container">
        <img ng-src="{{menus.image}}" class = "menuImg">
        <div class = "menuTxt">
        <h2>{{menu.name}}</h2>
        <p style = "color: black">{{menu.restaurant}}</p>
        </div>
              </div>
      </ion-item>
    </ion-list>
      
  </ion-content>
</ion-view>
-->

<ion-view view-title = "Tablefeed" hide-nav-bar = "true">
  <ion-content>
  
    <ion-list>
      <ion-item ng-repeat = "menu in menus | limitTo: limitOne : 4 | orderBy: random" type = "item-text-wrap" ng-href = "#/tab/dash/{{menu.id}}">
        <div class = "container">
          <!-- Background Image for Menu Item -->
          <img ng-src = "{{menu.image}}" class = "menuImg"/>
          <!-- Description for Menu Item -->
          <div class = "menuTxt">
            <h2>{{menu.name}}</h2>
            <p style = "color: black">{{menu.restaurant}}</p>
          </div>
        </div>
      </ion-item>  
    </ion-list>

  </ion-content>
</ion-view>