<ion-tabs class="tabs-icon-only tabs-color-active-calm tabs-light">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Menu Tab -->
  <ion-tab title="Menus" icon-off="ion-navicon" icon-on="ion-navicon" href="#/tab/menus">
    <ion-nav-view name="tab-menus"></ion-nav-view>
  </ion-tab>
    
  <!-- Feedback Tab -->
  <ion-tab title="Feedback" icon-off="ion-paper-airplane" icon-on="ion-paper-airplane" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>

</ion-tabs>
